/* add css module styles here (optional) */

.table *,
.table {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.table {
  border: 3px solid #000;
  overflow-x: auto;
  width: auto;
}

.row {
  display: grid;
}

.row [data-testid='cell'],
.row [data-testid='action-cell'] {
  border: 1px solid rgba(0, 0, 0, 0.088);
}

.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-text'] {
  visibility: hidden;
}

.table [data-testid='thead-col-sort-icons'] {
  opacity: 0.3;
}

.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-icon-default'] {
  position: relative;
}
.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-icon-default']
  i {
  position: absolute;
}
.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-icon-default']
  i:first-child {
  transform: scale(0.7) translateY(40%);
}

.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-icon-default']
  i:last-child {
  transform: scale(0.7) translateY(-20%);
}

.table [data-testid='thead'] [data-testid='cell'] {
  cursor: pointer;
  user-select: none;
}
