/* add css module styles here (optional) */

.table *,
.table {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.table {
  border: 3px solid #000;
  overflow-x: auto;
  width: auto;
}

.row {
  display: grid;
}

.row [data-testid='cell'] {
  border: 1px solid rgba(0, 0, 0, 0.088);
}

.table
  [data-testid='thead-col-sort-icons']
  [data-testid='thead-col-sort-text'] {
  visibility: hidden;
}
